@model AdverBenilde.Models.EventsModel

@{
    ViewBag.Title = "";
}


@using (Html.BeginForm())
{
    <div class="col-lg-4">
        <img src="../../Images/Events/@Model.Image" class="img-responsive" />
        <label class="btn btn-tertiary">@Html.RadioButton("Action", "1", new { onchange = "this.form.submit();" }) Is Going</label>
        <label class="btn btn-tertiary">@Html.RadioButton("Action", "2", new { onchange = "this.form.submit();" }) Interested</label>
        <label class="btn btn-tertiary">@Html.RadioButton("Action", "3", new { onchange = "this.form.submit();" }) Not Going</label>
    </div>
    <div class="col-lg-8">
        <div class="well clearfix">
            <h2>@Model.Name </h2>
            <hr />

            <strong>Time:@Model.Time</strong><br />
            <small>Location: @Model.LocationName</small><br />
            <strong>Description:</strong><br />
            <p>
                @Model.Description
            </p>
            <small>Event Handler: @Model.EventHandlerName</small><br />

            <h6>|  Is Going-@Model.IsGoing.ToString()  | Interested-@Model.Interested.ToString()  | NotGoing-@Model.NotGoing.ToString()  |</h6>

            <small>Date Added: @Model.DateAdded<br /></small>

            <strong>Share:</strong>

            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://localhost:62523/Event/Details/@Model.ID" class="fa fa-linkedin-square fa-3x">

            </a>

            <a href="https://twitter.com/share" class="fa fa-twitter-square fa-3x" data-url="https://www.eventbrite.com/" data-text="Enter Data text here" data-size="large" data-count="none"></a>

            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

            <a href="http://www.facebook.com/sharer.php?u= http://localhost:62523/Event/Details/@Model.ID" title="share on facebook" class="fa fa-facebook-square fa-3x"></a>
        </div>
    </div>
}

