@model AdverBenilde.Models.EventHostModel

@{
    ViewBag.Title = "IndexOfEditableEvent";
}

<h2>IndexOfEditableEvent</h2>

<div class="col-lg-9">
    <h1 class="text-center">View Stores</h1>
    <hr />
    @foreach (var item in Model.EditableEvents)
    {
        <div class="col-lg-3">
            <a href="@Url.Action("EditEvent", "Event", new { id = item.ID })"
               style="text-decoration:none;">
                <div class="thumbnail">
                    <img src="../Images/Events/@item.Image" alt="@item.Name"
                         class="img-responsive" />
                    <div class="caption">
                        <h3>@item.Name</h3>
                        <small>Location: @item.LocationName</small>
                        <small>Time: @item.Time</small>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
